/* styles.css */

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("./assets/background-img/colecao-abundante-de-livros-antigos-em-prateleiras-de-madeira-geradas-por-ia_188544-29660.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  backdrop-filter: blur(10px);
  height: 100vh;
}

nav {
  background-color: #333;
  color: white;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

h1 {
  color: #333;
}

form {
  margin-top: 20px;
}

label {
  margin: 10px 2rem;
  display: fixed;
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

input,
button,
select {
  margin: 10px 5%;
  padding: 1rem;
  width: 100%;
  max-width: 768px;
  border-radius: 16px;
  background: #ffc392;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  max-width: 80%;
}

table {
  margin: 0 auto;
  width: 80%;
  border-collapse: collapse;
  margin-top: 20px;
  border-radius: 1rem;
}

th,
td {
  padding: 1px;
  text-align: left;
  color: gray;
  background-color: white;
  border: 2px solid rgb(30, 30, 30);
}

th {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 1rem;
}

td {
  padding: 0 auto;
}

button {
  display: flex;
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

.form {
  margin: 0.5rem auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  justify-content: center;
  background: rgb(255, 255, 255);
  box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.25);
  max-width: 30%;
  border-radius: 16px;
}

.title {
  color: #000;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: -0.5rem;
}

.subtitle {
  margin: 0 7rem;
  color: #000;
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 1rem;
}

#inputNome:placeholder-shown + .label-novo-livro {
  display: block;
}

#inputNome:not(:placeholder-shown) + .label-novo-livro {
  display: none;
}

.send-btn {
  color: #ffffff;
  text-align: center;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  max-width: 15rem;
  margin: 1rem 25% 0 25%;
  border-radius: 30px;
  background: #000000;
}

input::placeholder {
  color: rgba(0, 0, 0, 0.6);
  font-style: italic; /* Customize the font style of the placeholder text */
  font-size: 16px;
  font-weight: bold;
  line-height: normal;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

/* Style the custom label */
input[type="date"] + label {
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  font-size: 16px;
  display: block; /* Ensure the label is displayed as a block */
}

input[type="date"]::before {
  content: "Data de Lançamento";
  color: rgba(0, 0, 0, 0.6);
  display: block;
  margin-right: 5rem;
  margin-bottom: 5px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  font-size: 16px;
  justify-content: space-between;
}

.acoes {
  display: flex;
  border: 1px solid rgb(30, 30, 30);
}
